<style>

/*full page styles*/

#top{
  position: relative;
  top: 100px;
}


h1{
  font-family: 'Bellefair', serif;
  font-size: 3em;
  color: #F0CD8D; //golden brown
}
h2{
  font-family: 'Bellefair', serif;
  font-size: 2em;
  color: #F0CD8D; //golden brown
  padding: 10px 0;
  text-align: center;
}

p,
h4,
li,
figcaption{
  padding: 10px;
  font-family: 'Dosis', sans-serif;
  color: #54130D; //rich chestnut
}

figcaption{
  text-align: center;
  margin: -20px 0 0 0;
}


.border{
  margin: 100px 5%;
  width: 90%;
  text-align: center;
  border: 2px solid #F0CD8D; // gold
}


figure{
  display: inline-block;
}

/* link styles */
.title_link{
  text-decoration: none;
  color: #54130D; // rich chestnut
}


.more_link{
  text-decoration: none;
  color: white;
  padding: 0.5em;
  background-color: #F0CD8D; // gold
  border-radius: 6px;
}

.more_link:hover{
  background-color: #54130D; // rich chestnut
}




/*navs*/
#main_nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  margin-top : -25px;
}
nav ul{
  text-align: center;
  background-color: white;
  padding-top: 15px;
}
nav li{
  display: inline-block;
  padding: 3px 10px;
  margin: 10px 20px;
  font-size: 18px;
}

nav li a{
  text-decoration: none;
  color: #54130D;; //rich chestnut
}

nav li a:hover{
  text-decoration: none;
  color: #F0CD8D; // gold
}


.maina{
  padding: 0.3em;
  border: solid 2px #F0CD8D; //gold
  text-decoration: none;
  color: #54130D;; //rich chestnut
}

/* about me */
#top{
  position: relative;
  top: 50px;
}
#about{
  position: relative;
  text-align: left;
  top: 50px;
  display: grid;
  grid-template: 100% / 50% 50%;
}

#about li{
  list-style: square inside;
}

#about img{
  width: 100%;
  grid-area: 1 / 2 / 2 / 3;
  justify-self: right;
  align-self: end;
/*border is off*/
}

#about_text{
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 20px 20px 10%;
}


/*art */

#art img{
  margin: 20px;
  width: 200px;
}


/*space design*/
#space_design img{
  margin: 20px;
  width: 400px;
}

/*lesson plans*/
#lesson figure{
  display: inline-block;
}
#lesson img{
  margin: 20px;
  width: 500px;
  height: 300px;
}
#lesson figcaption{
  text-align: center;
  margin: -30px 0 0 0;
}
/* web design */
#web{
  text-align: center;
  margin: 0 5%;
  width: 90%;
}

/*contact*/
#contact{
  text-align: center;
}
.social_img {
  width: 4%;
  margin: 0 10%;
}


/*footer*/
footer{
  text-align: center;
}


/////////////////////////////////////////////////////////////////////////////

/*sub pages extra styles*/
.sub_nav{
  postion: relative;
  top: 100px;
} 

.container{
  text-align: center;
  margin-top: 30px;
}

.big_img img{
  width: 100%;
  margin-right: 2%;
}

.big_img figure::hover{
  -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
  /*from https://www.w3schools.com/css/css3_2dtransforms.asp */
}



/*sub images*/
.frame{
  text-align: center;
}

.frame figure{
  width: 40%;
  display: inline-block;
}

.frame figure:hover{
  -ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
  /*from https://www.w3schools.com/css/css3_2dtransforms.asp */
}


.frame img{
  width: 100%;
}

.frame figcaption{
  visibility: hidden;
}


/*text description*/
.desc_txt{
  width: 100%;
}
.desc_txt p{
  text-align: left;
}



/*seek top button*/
#top_button{
  text-align: center;
  width: 4em;
  height: 2.5em;
  border: solid 2px #F0CD8D; // gold;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
}
#top_button p{
  font-size: 1em;
  text-decoration: none;
  padding: 0.75em;
}