/*insert proper starting stuff)*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --light-background: #fff;
    --light-background-pattern: 
    --light-main: #39444a ;
    --light-complement: #53b0ae;
    --light-contrast: #9b1b30;
    --highlight: #f4d389;
}

/*full document styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*10px at 100%*/
}

body{
    background-image: url(/img/surface-design/drifitng-leaves.png);
    background-size: 50%;
    background-repeat: repeat;
    background-color: var(--light-background);
    font-family: 'Ibarra Real Nova', serif;
    color: var(--light-main);
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: var(--light-complement);
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

input,
button{
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.contrast{
    color: var(--light-contrast);
}

.highlight{
    color: var(--highlight);
}

i{
    color: var(--light-contrast);
}
nav{
    margin-bottom: 10px;
    background-color: rgba(252, 252, 252, 0.703);
}
nav li{
    display: inline-block;
    padding: 2%;
}
a:hover{
    color:var(--highlight);
}

/*index page styles*/

.main_box{
    margin: 0 2%;
}

#index_img{
    background-color: #fff;
    padding: 2em 2em;
}

/*media query to break off of 50-50 for mobile*/

@media (max-width: 600px) {
    .main_box{
    display: block;
    /*    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    'hanok'
    'p'
    ;)*/
    }
    #index_portfolio{
        margin-top: 3em;
    }

    video {
        width: 95%;
        height: auto;
    }
    
  }

  @media (min-width: 601px) {
.main_box{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: 30% 80%;
    grid-template-areas: 
    'hanok p'
    'hanok p'
    ;
}

    #index_img{
        grid-area: hanok;
    }

    video {
        width: 50% !important;
        height: auto;
        margin: auto;
    }
    
    /*#index_logo{
        grid-area: logo;
    }*/
    
    #index_portfolio{
        grid-area: p;
    }
}
  




.logo{
    height: 3em;
    display: block;
}

.index_portfolio_tile{
    display: inline-block;
    width: 47%;
    min-width: 12em;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin: 0 .2em .2em 0;
}

#index_art{
    background-image: url(/img/art/painting/dtyis_portrait_pomegranate.png);
}

#index_design{
    background-image: url(/img/surface-design/drifitng-leaves.png);
}

#index_language{
    background-image: url(/img/lessons/poem_chanhee.JPG);

}

#index_interiors{
    background-image: url(/img/space/thesis/0court-sm.png);
}


/*art styles*/



figcaption.hover{
    visibility: hidden;
    text-align: center;
}

figcaption.hover:hover{
    visibility: visible;
}