/*insert proper starting stuff)*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --light-background: #fff;
    --light-background-pattern: url(/img/preppy\ Shells_bgd.jpg);
    ---body-background-color: #53b0ae;
    --light-main: #39444a ;
    --light-complement: #53b0ae;
    --light-contrast: #9b1b30;
    --highlight: #f4d389;
    --gallery-background: #39444a ;
    --art-card: url(./img/art/painting/seo-processing-s.png);
}

/*full document styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*10px at 100%*/
}

body{
    background-image: var(--light-background-pattern);
    background-size: 50%;
    background-repeat: repeat;
    background-color: var(---body-background-color);
    font-family: 'Ibarra Real Nova', serif;
    color: var(--light-main);
    font-size: 1.5em;
    margin: 20px auto;
    width: 95%;
}
button{
    font-family: 'Ibarra Real Nova', serif;
    color: var(--light-main);
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: var(--light-complement);
}

/*full page class defs*/ 

.contrast{
    color: var(--light-contrast);
}

.highlight{
    color: var(--highlight);
}

.complement{
    color: var(--light-complement)
}

.center-text{
    text-align: center;
}

h2{
    margin-top: 10px
}


/*nav styles*/

nav{
    position: sticky;
    background-color: var(--light-background);
    border-radius: 8px;    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: auto;
    width: 95%;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav li{
    padding: 0 10px;
    font-size: 1.2em;
}
a:hover{
    color:var(--highlight);
}

#nav_logo{
    width: 20px;
    margin-bottom: -3px;
}


i{
    color: var(--light-contrast);
}
i:hover{
    color:var(--highlight);
}



/*footer*/
.fade_box{
    color:#fff;
    padding: 10px;
    text-align: center;
}





/*index page styles*/

#index_box{
    margin: auto;
    width: 9%;
}

#anim_box, .main_box{
    border-radius: 1.5em;
    background-color: #fff;
    padding: 20px;
    height: auto;
}

#anim_box video{
    width: 95%;
}




/*media query to break off of 50-50 for mobile*/

@media (max-width: 800px) {
    #index_box{
        display: inline-block;
    }
    
    #anim_box {
        width: 95%; /*orig setting 95%*/
        height: auto;
        margin: auto;  
    }

    nav ul li .complement{
      visibility: hidden;
      width: 0px;
    }
    
  }

  /*media query for full screen*/

  @media (min-width: 801px) {
    #index-box{
        display: flex;
    }
    
    #anim_box{
        width: 700px;
        margin: auto;
    }

  }

  




.logo{
    height: 3em;
    display: block;
}


/*about page styles*/
.box_2_3{
    display: flex;
}
#about_1{
    width: 800px;
}
#about_2{
    width:fit-content;
    margin: auto;
}
@media (max-width: 800px) {
    .box_2_3{
      flex-direction: column;
    }

    #about_1{
        width: 90%;
    }
  }

/*art styles*/

/*hover caption effect*/

figcaption{
    text-align: center;
    position: relative; 
    bottom: 40px; 
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: var(--light-contrast);
    font-size: 16px;
    padding: 10px;
  }
  
  fig:hover figcaption {
    opacity: 1;
  }

/*opening and closing tabs*/
.collapsible {
    height: 300px;
    width: 85%;
    cursor: pointer;
    background-size: cover;
    border: none;
    display: block;
    margin: auto;
}
.upper {
border-radius: 150px 150px 50px 50px;
background-position: top;
}

.lower {
border-radius: 50px 50px 150px 150px;
background-position: center;
}

.collapsible h2{
    background-color: rgba(255, 255, 255, 0.7); 
    text-align: center;
}
.active, .collapsible:hover{
background-image: none;
background-color: blue;
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
}

/*from w3 schools -- flexbox gallery*/

/*flex box column*/
.flexbox{
    width: 90%;
    margin: auto;
    border-radius: 1.5em;
    background-color: #fff;
    padding: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column4 {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column4 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .column3 {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
  .column3 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column4, .column3 {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column4, .column3 {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* about */
  .bento_grid {
    margin-top: 20px;
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: grid;
    gap: 1vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "block1 block2 block3"
      "block1 block2 block3"
      "block1 block2 block3"
      "long1 long1 block4"
      "block5 block5 block4"
      "block5 block5 block4"
      "block5 block5 long2 ";
  }

  .item { 
    border-radius: 10px;
    background-size: cover;
    color: var(--light-background);
    
    align-items: center;
  }
  .item img{
    height:  100%;
  }

  .item-content{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item:hover .item-content{
    visibility: visible;
    background-color: inherit;
    width: inherit;
    border-radius: 10px;
    height: 100%;
    width: 100%;
  }
  
  .bento_grid .item:nth-child(1) {
    grid-area: block1;
    background-image: var(--block-1-img);
    background-position: center;
    background-color: var(--light-contrast);
  }
  .bento_grid  .item:nth-child(2) {
    grid-area: block2;
    background-image: var(--block-2-img);
    background-position: center;
    background-color: var(--light-main);
  }
  
  .bento_grid  .item:nth-child(3) {
    grid-area: block3;
    background-image: var(--block-3-img);
    background-position: center;
    background-color: var(--light-contrast);
  }
  .bento_grid  .item:nth-child(4) {
    grid-area: long1;
    background-color: var(--highlight);
  }
  
  .bento_grid  .item:nth-child(5) {
    grid-area: block4;
    background-image: var(--block-4-img);
    background-position: center;
    background-color: var(--light-main);
  }

  .bento_grid  .item:nth-child(6) {
    grid-area: block5;
    background-image: var(--block-5-img);
    background-position: center;
    background-color: var(--light-contrast);
  }

  .bento_grid  .item:nth-child(7) {
    grid-area: long2;
    background-color: var(--light-complement);
  }

  

  /* media queries --- not working rn*/
  /*tablet*/
  @media screen and (max-width: 900px) {
    .bento_grid {
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(12, 100px);
      grid-template-areas:
      "block5 block5"
      "block5 block5 "
      "block5 block5 "
      "block1 block2 "
        "block1 block2 "
        "block1 block2 "
        "long1 long1"
        "block3 block4"
        "block3 block4"
        "block3 block4"
        "long2 long2 ";
    }
  }

  /*phone*/ 
  @media screen and (max-width: 600px) {
    .bento_grid {
      grid-template-columns: 100%;
      grid-template-rows: repeat(12, 100px);
      grid-template-areas:
        "block5"
        "block5"
      "block1"
        "block1"
        "block2"
        "block2"
        "long1"
        "block3"
        "block3"
        "block4"
        "block4"
        
        "long2"
        ;
    }

  }