/*insert proper starting stuff)*/
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --light-background: #fff;
    --light-background-pattern: url(./img/surface-design/norigae-checker-teal-web.jpg);
    --light-main: #39444a ;
    --light-complement: #53b0ae;
    --light-contrast: #9b1b30;
    --highlight: #f4d389;
    --gallery-background: #39444a ;
}

/*full document styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*10px at 100%*/
}

body{
    background-image: var(--light-background-pattern);
    background-size: 50%;
    background-repeat: repeat;
    background-color: var(--light-background);
    font-family: 'Ibarra Real Nova', serif;
    color: var(--light-main);
    font-size: 1.5em;
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: var(--light-complement);
}

img{
    max-width: 100%;
    display: block;
}

fig > img:hover {
    transform: scale(1.5);
}


ul{
    list-style: none;
}

input,
button{
    font: inherit;
    color: inherit;
    border: none;
    outline: none;
    background-color: transparent;
}

.contrast{
    color: var(--light-contrast);
}

.highlight{
    color: var(--highlight);
}

.complement{
    color: var(--light-complement)
}

.center-text{
    text-align: center;
}

h2{
    background-color: rgba(252, 252, 252, 0.703);
    text-align: center;
}



.blue-border{
    border: 2px  var(--light-complement);

}

.gallery-main{
    background-color: var(--gallery-background);
}




/*nav styles*/

nav{
    position: sticky;
    background-color: var(--light-background);
    border-radius: 8px;
    margin: 10px 0;
    height: auto;
    align-content: center;
}
nav li{
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2em;
}
a:hover{
    color:var(--highlight);
}

#nav_logo{
    width: 20px;
    margin-bottom: -3px;
}

i{
    color: var(--light-contrast);
}



/*footer*/
.fade_box{
    color:#fff;
    padding: 10px;
    text-align: center;
}





/*index page styles*/

.main_box{
    margin: 0 2%;
}

#index_img, .box {
    background-color: var(--light-background);
    padding: 2em 2em;
    border-radius: 8px;
}





/*media query to break off of 50-50 for mobile*/

@media (max-width: 800px) {
    .main_box video {
        width: 95%;
        height: auto;  
    }
    
  }

  /*media query for full screen*/

  @media (min-width: 801px) {
 
.main_box video {
        width: 60% !important;
        height: auto;
        display: block;
        margin: 0 auto;
    }
  }

  




.logo{
    height: 3em;
    display: block;
}

.index_portfolio_tile{
    display: inline-block;
    width: 47%;
    min-width: 12em;
    text-align: center;
    background-size: cover;
    background-position: center;
    margin: 0 .2em .2em 0;
}

#index_art{
    background-image: url(/img/art/painting/dtyis_portrait_pomegranate.png);
}

#index_design{
    background-image: url(/img/surface-design/drifitng-leaves.png);
}

#index_language{
    background-image: url(/img/lessons/poem_chanhee.JPG);

}

#index_interiors{
    background-image: url(/img/space/thesis/0court-sm.png);
}



/*art styles*/

figcaption.hover{
    visibility: hidden;
    text-align: center;
}

figcaption.hover:hover{
    visibility: visible;
}


/*from w3 schools -- flexbox gallery*/

/*flex box column*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column3 {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column, .column3 {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, .column3 {
      flex: 100%;
      max-width: 100%;
    }
  }