<header>
    <div id="long-logo"><a href="/chueok-studio/"><img src="/assets/img/chueok-studio-long-logo.svg"></a></div>
    <div id="stamp">
        <img src="/assets/img/Chueok Red Stamp transparent.PNG"> 
        <a href="/"><img src="/assets\img\Red Stamp transparent.PNG"></a> 
    </div>
    <div id="shop-nav">
        <ul>
            <li><a href="https://www.etsy.com/shop/ChueokStudio" target="_blank">etsy</a></li>
            <li><a href="" target="_blank">ko-fi</a></li>
            <li><a href="https://www.spoonflower.com/profiles/chueok_studio" target="_blank">spoonflower</a></li>
        </ul>
    </div>
    <div id="socials">
        <ul>
        <li><a href="https://www.instagram.com/chueok_studio/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://www.tiktok.com/@chueok.studio" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCRLsfpMJaYZm5Q5idUPCatg" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
    </div>
</header>