<nav>
    <ul>
    <li><a href="https://www.instagram.com/chueok_studio/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="https://www.tiktok.com/@chueok.studio"" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
    <li><a href="https://www.youtube.com/channel/UCRLsfpMJaYZm5Q5idUPCatg" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
    <li> <a href="https://www.etsy.com/shop/ChueokStudio" target="_blank"><i class="fa-brands fa-etsy"></i></a> </li>
    <li> <a href="https://www.behance.net/gabriellegaulin1" target="_blank"><i class="fa-brands fa-behance"></i></a></li>
    <li><a href="https://wind-neighbor-a4c.notion.site/Gabrielle-Gaulin-Interactive-CV-e6272aceb1a043b1b792eac7400d3b0d?pvs=4"
        target="_blank" style="color: #9b1b30;">resume</a></a></li>
</ul>
</nav>