<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description | escape }}">
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
</head>

<body>
  <header class="site-header">
    <a class="logo" href="{{ '/' | relative_url }}">Gabrielle Gaulin</a>
    <nav class="nav">
      <a href="/chueok-studio">Design</a>
      <a href="/art">Art</a>
      <a href="/language">Language</a>
      <a href="/about">About</a>
      <!--<img class="stamp" src="/assets/about-me/GG_red.PNG" /> -->
    </nav>
  </header>

{{ content }}

  <footer class="footer">
    <span>© {{ site.time | date: '%Y' }} Gabrielle Gaulin</span>
    <span>chueok.studio@gmail.com 
      · <a href="" target="_blank">Instagram</a> 
      · <a href="" target="_blank">Behance</a> 
      · <a href="" target="_blank">Linked In</a> 
      · Seoul / Connecticut </span>
  </footer>

</body>



<!-- add ko-fi link here so present on all pages-->
</html>
